h1 { font-family: 'Lato', sans-serif; font-size: 18px; margin: 5px 30% 5px 10%; text-align: center}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:80%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;

	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;

	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;

	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:80%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d49b38; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;


	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:8px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #a25b04 5%, #4d2a01 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a25b04), color-stop(1, #4d2a01) );
	background:-moz-linear-gradient( center top, #a25b04 5%, #4d2a01 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a25b04", endColorstr="#4d2a01");	background: -o-linear-gradient(top,#a25b04,4d2a01);

	background-color:#a25b04;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #a25b04 5%, #4d2a01 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a25b04), color-stop(1, #4d2a01) );
	background:-moz-linear-gradient( center top, #a25b04 5%, #4d2a01 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a25b04", endColorstr="#4d2a01");	background: -o-linear-gradient(top,#a25b04,4d2a01);

	background-color:#a25b04;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.textbox1 {
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #848484;
    outline:0;
    height:35px;
    width: 40%;
    padding-left:10px;
	font-size:18px;
  }


.textbox2 {
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #848484;
    outline:0;
    height:35px;
    width: 40%;
    padding-right:10px;
	font-size:18px;
  }

.button1 {
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #848484;
	font-size:18px;
	font-weight:bold;
    outline:0;
    height:35px;
    width: 40%;
    padding-left:10px;
  }


.button2 {
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #848484;
	font-size:18px;
	font-weight:bold;
    outline:0;
    height:35px;
    width: 40%;
    padding-right:10px;
  }