		.executive .dropdown-menu {
		width: 520px;
		z-index: 9999;
		margin: 10px 0 0;
		font-size: 16px;
		}
		.dropdown-menu {
			/* box-shadow: none; */
			border-color: #eeeeee;
		}
		.dropdown-menu {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: none;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: 4px;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
		}
		.executive li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.executive .dropdown-menu ul {
			margin: 20px;
		}
		.dropdown, .dropup {
			position: relative;
		}
		.messages-menu .dropdown:before {
			border-color: transparent;
			border-width: 12px;
			margin-left: -36px;
		}
		.messages-menu .dropdown:after, .messages-menu .dropdown:before {
			bottom: 108%;
			right: 44%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		.messages-menu .choose_widget h4, .messages-menu .choose-widget h4 {
			margin: 5px 0 10px;
		}
		.messages-menu .choose_widget p, .messages-menu .choose-widget p {
			border-bottom: 1px solid #d2d3d4;
			padding: 0;
			margin: 0;
		}
		.messages-menu .choose_widget p input[type="radio"], .messages-menu .choose-widget p input[type="radio"] {
			margin: 10px 5px 10px 0;
		}
		.executive li a {
			color: #333333;
		}
		.eclose_btn {
			position: absolute;
			top: 0px;
			right: 20px;
		}
		.messages-menu .btn-div {
			margin: 10px 0 20px;
		}
		.executive li .btn-div a {
			color: #ffffff;
		}
		.dropdown-menu .btn-div a {
			color: #ffffff;
		}
		.executive li a {
			color: #333333;
		}
		.btn-primary {
			background-color: #CD040B !important;
			border-color: #CD040B !important;
		}
		.btn {
			border-radius: 0 !important;
			font-weight: normal;
			font-size: 13px;
			color: #ffffff;
			margin-right: 10px;
		}
		.pull-right {
			float: right;
		}
		.btn {
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		.modal_blk {
		min-height:250px;
		position:relative;
		}
		#bgdiv, #bgdiv-index, #dynloading {
			width: 100%;
			height: 270px;
			position: absolute;
			background: #000000;
			opacity: 0.5;
			filter: alpha(opacity=50);
			display: none;
			top: 0;
			display: none;
		}
		.ngdialog {
			position: fixed;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			z-index: 10000;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.ngdialog-overlay {
			position: fixed;
			background: rgba(0, 0, 0, 0.4);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			-webkit-backface-visibility: hidden;
			-webkit-animation: ngdialog-fadein 0.5s;
			animation: ngdialog-fadein 0.5s;
		}
		.ngdialog-content {
			background: white;
			-webkit-backface-visibility: hidden;
			-webkit-animation: ngdialog-fadein 0.5s;
			animation: ngdialog-fadein 0.5s;
		}
		.ngdialog, .ngdialog *, .ngdialog *:before, .ngdialog *:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.files-show-popup {
			display: block !important;
		}
		[class^="-cabitpopup"], [class*="-cabitpopup"], [class^="-newpopup"], [class*="-newpopup"] {
			display: none;
			position: absolute;
			background: #fff;
			padding: 25px;
			width: 75%;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
			bottom: auto;
			left: 15%;
			top: 0;
			border: 1px solid #CCCCCC;
			overflow: visible !important;
			z-index: 9998;
			border-radius: 10px;
		}
		.ngdialog, .ngdialog *, .ngdialog *:before, .ngdialog *:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		[class^="-cabitpopup"] .cabinet-close, [class^="-cabitpopup"] .popup-close, [class*="-cabitpopup"] .cabinet-close, [class*="-cabitpopup"] .popup-close, [class^="-newpopup"] .cabinet-close, [class^="-newpopup"] .popup-close, [class*="-newpopup"] .cabinet-close, [class*="-newpopup"] .popup-close {
			cursor: pointer;
			float: right;
			position: absolute;
			top: 25px;
			right: 25px;
		}
		[class^="-cabitpopup"] .col-md-12 .form-group .form-control, [class*="-cabitpopup"] .col-md-12 .form-group .form-control, [class^="-newpopup"] .col-md-12 .form-group .form-control, [class*="-newpopup"] .col-md-12 .form-group .form-control {
			float: left;
			width: 100%;
			background: none repeat scroll 0% 0% #F6F6F6;
			color: #333333;
			border: medium none;
		}
		[class^="-cabitpopup"] .form-control, [class*="-cabitpopup"] .form-control {
			background: none !important;
			color: #333333 !important;
			border: 1px solid #ccc !important;
		}
		.form-control {
			color: #333333;
			font-weight: 500;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			-ms-border-radius: 0px;
			border-radius: 0px;
			box-shadow: none;
		}
		.form-control {
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.update-org .cancel-selection {
			background-color: #4B4B4B;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			border-radius: 3px;
			padding: 5px 15px;
			float: right;
			margin: 10px 0px 0;
			border: none;
			color: #ffffff !important;
		}
		.update-org .change-organisation {
			background: #CD040B;
			color: #ffffff !important;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			border-radius: 3px;
			padding: 5px 15px;
			float: right;
			margin: 10px 5px 0;
			border: none;
			color: #FFFFFF !important;
		}