@import 'reset.css';
@import 'bootstrap.min.css';
@import 'modal.css';
@import 'space.css';
@import 'buttons.css';
@import 'style.css';
@import 'table.css';
@import 'fixedgrid.css';
@import 'fluidgrid.css';
@import 'icons.css';
@import 'box.css';
@import 'expandcollapse.css';
@import 'expandcollapsesub.css';
/*@import 'dbir.css';*/

.field-description  {
	font-size: 30px;
	font-weight: normal;
	font-family: "NeueHaasGroteskText-W01", Arial, Helvetica, sans-serif;
    line-height: 100%;
	margin: 15px 0 30px;
	padding-top:0; 
}

.form-group legend {
	text-transform: uppercase;
}

.control-label {
	text-transform: capitalize;
}

.vz_box_wop .guidelinetabs a.current .activeicon {
	bottom: 5px;
}

.box-boday { 
	padding: 10px;
}

.expandcollapse-topic {
	cursor: pointer;
}

.side-button { font-size: 12px !important; padding: 4px 8px; }

.btn-add { background-color: #cd040b; color: white; width: 40px; border: 0; }
.btn-add:hover { background-color: #a8030a; border: 0; }
.btn-add:active, .btn-add:active:hover, .btn-add:active:focus { background-color: #740206; border: 0; }
.btn-add:focus { background-color: #740206; border: 0; }

.btn-danger { background-color: #4b4b4b; color: white; width: 40px; border: 0; }
.btn-danger:hover { background-color: #333333; border: 0; }
.btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus { background-color: #000000; border: 0; }
.btn-danger:focus { background-color: #000000; border: 0; }

.array-item { border: 1px solid #d2d3d4; padding: 10px; margin-left: 20px; margin-bottom: 10px;}
.field-array .col-xs-1 { padding: 0; }
.field-array .col-xs-1 button { margin-right: 0; }

.field-array .col-xs-11 { padding: 0; }

.field-object { margin-bottom: 0; }
.expandcollapse_content .field-object { margin-bottom: 15px; }
.expandcollapse_content .field-object:last-child { margin-bottom: 0; }

.small-num { width: 40%; }